{% extends 'base.html' %}
{% block nav %}
<div class="ui tabular menu inverted"> 
		<a class="item" href="{% url 'config' %}" title="configuration du site">Configuration</a>
		<a class="item" href="{% url 'gestion_matiere' %}" title="gestion des matières">Matières</a>
		<a class="item" href="{% url 'gestion_classe' %}" title="gestion des classes">Classes</a>
		<a class="item" href="{% url 'gestion_etab' %}" title="gestion des établissements">Établissements</a>
		<a class="item" href="{% url 'gestion_eleve' %}" title="gestion des élèves">Élèves</a>
		<a class="item" href="{% url 'gestion_colleur' %}" title="gestion des colleurs">Colleurs</a>
		<a class="item" href="{% url 'gestion_prof' %}" title="gestion des professeurs des classess">Professeurs</a>
		<a class="item" href="{% url 'gestion_semaine' %}" title="gestion des semaines">Semaines</a>
		<a class="item" href="{% url 'gestion_ferie' %}" title="gestion des jours fériés">Jours fériés</a>
</div>
{% endblock %}
