{% extends 'base.html' %}
{% load customfilter %}
{% block body %}

    <div class="ui text container">
        <h1 class="ui center aligned icon header">
            <i class="circular pencil alternate icon"></i>
Modifier profil
        </h1>
<form method="post">
{% csrf_token %}
<table class="ui table">
	<tr><td colspan="2">(Mot de passe inchangé si non renseigné)</td></tr>
		{{ form.as_table }}
</table>
<input class="ui button primary" type="submit" value="Modifier"/>
<a class="button ui primary" href="{% url 'accueil' %}">Retour</a>
</form>
    </div>
{% endblock %}
