{% extends user.colleur|yesno:'colleur/action.html,secretariat/action.html' %}
{% load static %}
{% block body %}
<div class="ui text container">
    <h1 class="ui center aligned icon header">
        <i class="circular users icon"></i>
Modification d'un groupe de {{groupe.classe}}
    </h1>
	<form method="POST">
	{% csrf_token %}
	<table class="ui table">
		<input type="hidden" id="hide" value="{{hide}}"></input>
		{{ form.as_table }}
		<tr><td colspan="2"><input class="ui button primary" type="submit"/></td></tr>
	</table>
	</form>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{% static 'javascript/groupelangue.js' %}"></script>
{% endblock %}
