{% load static %}
{% load customfilter %}
<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8"/>
	<link rel="icon" href="{% static 'images/calendar-48px.png' %}">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

	<script text="javascript">
		$(document).ready( function() {
			$('.ui.dropdown').dropdown();

			  var
				$popup = $('.popupholder[data-html]');
			  ;
			  $popup
				.popup({
				})
			  ;


            {% if request.GET.print %}
            window.print();
            {% endif %}

{% block javascriptready %}
{% endblock %}
		});
	</script>

    {% if user.is_authenticated %}
       {% with 'css/'|add:user.css as css_static %} 
	     <link rel="stylesheet" href="{% static css_static %}" />
       {% endwith %}
    {% else %} 
    	{% get_css as default_css %}
	   <link rel="stylesheet" href="{% static default_css %}" />
    {% endif %} 
<style>
    {% block style %}
.tablecentered {
    width: auto !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

    {% endblock %}
</style>
	<title>e-colle v2.1</title>


</head>
<body id="body" style="overflow-x:scroll !important;" class="fluid">
	<div class="ui container fluid">
        {% if request.GET.print %}
        {% else %}
	 	<div class="ui container">
            <a href={% url 'accueil' %}>
            <h1 class="ui block aligned center header">
                <div class"content">
                    Gestionnaire de colles
                    <div class="sub header"><!-- nom établissement -->{{0|nometab}}</div>
                </div>
            </h1>
            </a>

			{% if user.is_authenticated %}
            <div class="ui menu">
			{% if user.colleur %}
                <div class="item">{{user.first_name|title}} {{user.last_name|upper}}</div>
				{% for matiere in user.colleur.matieres.all %}
                    {% ifnotequal request.session.matiere matiere.pk %}
                        <a class="item" href="{% url 'changemat_colleur' matiere.pk %}">{{matiere}}</a>
                    {% else %}
                        <div class="item active blue">{{matiere}}</div>
                    {% endifnotequal %}
                {% endfor %}
			{% elif user.eleve %}
                <div class="item">{{user.first_name|title}} {{user.last_name|upper}} - {{ user.eleve.classe }}</div>
            {% elif user.username == 'admin' %}
				<div class="item">Administrateur</div>
			{% elif user.username == 'Secrétariat' %}
			{% endif %}
            <div class="right menu">
                <a class="item" href="{% url 'deconnexion' %}">Déconnexion</a>
                <a class="item" href="{% url 'profil' %}">Modifier profil</a>
                <a class="item"  href="{% url 'messages' %}">
                    <i class="icon mail"></i> Messages
                    {% if user.messagesnonlus %}
                    <div class="floating ui red label">
                    {{user.messagesnonlus}}
                    </div>
                    {% endif %}
                </a>
            </div>
            </div>
            {% endif %}

			{% block nav%}
			{% endblock %}
			{% block message %}
			{% if messages %}
    		{% for message in messages %}
  			  <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|linebreaksbr}}</div>
			{% endfor %}
			{% endif %}	
			{% endblock %}
            </div>
            <div class="ui divider" />
		</div>
		</div>
        {% endif %}
        <div class="ui fluid container">
			{% block body %}
			{% endblock %}
		</div>
	</div>
{% block javascript %}
{% endblock %}
</body>
</html>
