{% extends 'colleur/action.html' %}
{% load static %}
{% load customfilter %}
{% block body %}
{% get_mathjax as latex %}
{% if form %}
    <div class="ui text container">
        <h1 class="ui center aligned icon header">
            <i class="circular pencil alternate icon"></i>
Ajouter un programme de colle
    </div>
{% include "colleur/programmeform.html" %}
{% endif %}
    <div class="ui text container">
        <h1 class="ui center aligned icon header">
            <i class="circular book icon"></i>
Programmes de la classe {{classe}} en {{matiere}}
    </div>
    <div class="ui text container">
	{% for programme in programmes %}
    <div class="ui segments">
        <div class="ui horizontal segments">
            <div class="ui segment blue">
                <b>Semaine</b>
                {% for sem in programme.semaine.all %}
                    {{sem}}{% if not forloop.last%}, {% endif %}
                {% endfor %}
            </div>
            <div class="ui segment blue inverted">
                {{ programme.titre }}
            </div>
            {% if programme.fichier %}
            <div class="ui segment">
		        <a class="ui button"
                   href="{{programme.fichier.url}}">Fichier associé</a>
            </div>
            {% endif %}
        </div>
        <div class="ui segment">
		    {{programme.detail|linebreaksbr}}
        </div>
		{% if isprof %}
        <div class="ui horizontal segments">
            <div class="ui segment">
		<a class="ui button primary" href="{% url 'programmemodif_colleur' programme.pk %}">Modifier</a>
            </div>
            <div class="ui segment">
		<a class="ui button primary" href="{% url 'programmesuppr_colleur' programme.pk %}">Supprimer</a>
            </div>
        </div>
        {% endif %}
    </div>
    {% endfor %}
    </div>
{% endblock %}
{% block javascript %}
{% get_mathjax as latex %}
<script type="text/javascript" src="{% static 'javascript/suppression.js' %}"></script>
{% if latex %}
{% include "mathjax.html" %}
{% endif %}
{% endblock %}
