{% extends 'colleur/action.html' %}
{% load static %}
{% load customfilter %}
{% block body %}
{% get_mathjax as latex %}
    <div class="ui text container">
        <h1 class="ui center aligned icon header">
            <i class="circular chart line icon"></i>
           Résultats de la classe {{classe}} en {{matiere}}
        </h1>

        <div>
            <div class="ui container">
<form method="POST">
{% csrf_token %}
<table class="ui table">
<tr>
	<td>Semaine</td>
	<td>{{form.semin.erros}}{{form.semin}}</td>
	<td>à</td>
	<td>{{form.semax.erros}}{{form.semax}}</td>
	<td><input type="submit"/></td>
	{%  if isprof %}<td><a href="{% url 'resultatcsv_colleur' classe.pk semin.pk semax.pk %}"><img src="{% static 'images/csv.png' %}" alt="icone csv"/></a></td>{% endif %}
</tr>
</table>
</form>
<table class="ui table striped">
    <thead>
	<tr class="entete">
		<th>Élève</th>
		<th>Rang</th>
		<th>Moyenne</th>
	{% for semaine in semaines %}
		<th>S{{semaine.numero}}</th>
	{% endfor %}
	</tr>
    </thead>
    <tbody>
	{% for note in notes %}
    <tr>
		<td>{{note.eleve}}</td>
		{% if note.rang %}
		<td>{{note.rang}}{{note.rang|pluralize:"<sup>er</sup>,<sup>&egrave;me</sup>"|safe}}</td>
		{% else %}
		<td></td>
		{% endif %}
		<td>{% if note.moyenne %}{{note.moyenne|floatformat:1}}{% endif %}</td>
		{% for note in note.semaine %}
		<td>{% for value in note %}{% if not forloop.first %};{% endif %}{% if value.note == 22 %}Abs{% elif value.note == 21 %}n.n.{% else %}{{value.note}}{% endif %}{% endfor %}
		{% if note %}<div class="popup">{% for value in note %}{{value.colleur__user__first_name|title}} {{value.colleur__user__last_name|upper}}:{% if value.commentaire %}<br/> {% if latex %}{{ value.commentaire}}{% else %}{{ value.commentaire|linebreaksbr}}{% endif %} <br/>{% endif %}{% endfor  %}</div>{% endif %}
		</td>
		{% endfor %}
	</tr>
	{% endfor %}
    </tbody>
</table>
</div>
{% if isprof %}
<div class="ui container text">
<h1>Moyenne des colleurs:</h1>
<table class="ui table striped">
    <thead>
        <tr>
	<th>Colleur</th>
	<th>Moyenne</th>
	<th>Min</th>
	<th>Max</th>
	<th>&sigma;</th>
</tr>
    </thead><tbody>
{% for value in stats %}
<tr>
	<td>{{value.colleur__user__first_name|title}} {{value.colleur__user__last_name|upper}}</td>
	<td>{{value.moy|floatformat:1}}</td>
	<td>{{value.minimum}}</td>
	<td>{{value.maximum}}</td>
	<td>{{value.ecarttype|floatformat:1}}</td>
</tr>
{% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}
{% block javascript %}
{% get_mathjax as latex %}
{% if latex %}
{% include "mathjax.html" %}
{% endif %}
{% endblock %}
